@using Microsoft.AspNet.Identity
@using DataLogic.Models
@model LogInPartialViewModel
@if (Request.IsAuthenticated)
{
    Model.SetUser(User.Identity.GetUserId());
    var fullname = Model.User.FirstName + " " + Model.User.LastName;
    <div>
        
       
        
    </div>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right ">
            <li><img src="@Url.Action("Image", "Home", new { id = User.Identity.GetUserId()} )" style="width:30px;height:30px; " /></li>
            <li> @Html.ActionLink(fullname, "Details", "Account", new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })</li>
            <li><button class="@(@Model.PendingFriendRequest ? "pending-request" : "no-request")" type="button" onclick="location.href='@Url.Action("InspectRequests", "Account")'"><span class="glyphicon glyphicon-user " aria-hidden="true"></span></button></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
