@model DataLogic.Models.UserSiteModel
@using Microsoft.AspNet.Identity
@using DataLogic.Internationalization

@{
    ViewBag.Title = "Details";
}

<div class="col-md-3">
    <h4>
        @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        @if (Model.User.Id != User.Identity.GetUserId() && !Model.AreFriends)
        {
            @Html.ActionLink(AppResources.Add, "SendRequest", new { id = Model.User.Id }, new { @class = "btn btn-primary" });
        }
    </h4>

    <hr />
    <img src="@Url.Action("Image", "Home", new { id = Model.User.Id} )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    <dl class="person-label">
        <dt>
            @AppResources.Firstname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @AppResources.Lastname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Bio)
        </dd>

    </dl>
    @if (Model.User.Id == User.Identity.GetUserId())
    {
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
        @Html.ActionLink("EditPassword", "EditPassword", new { id = Model.User.Id })
    </p> 
    }
    
</div>
<div class="col-md-7">
    <h2>Posts</h2>
        @Html.ActionLink("Skriv ett inlägg", "Create", "Post", new { id = Model.User.Id }, null);
    @foreach (var post in Model.Posts)
    {
        <div class="post-section">
            <p>@post.Content</p>
        </div>
    }
</div>

@if (Model.User.Id == User.Identity.GetUserId())
{
    <div class="col-md-2" style="border: 2px solid #ccc; padding: 2px;">
    <h4>@AppResources.Friends</h4>
    @foreach (var friend in Model.Friends)
    {
            <div style="padding: 1px; margin: 2px 0; border-bottom: 1px solid #999;">
                <img src="@Url.Action("Image", "Home", new { id = friend.Id }) " style="width:30px;height:30px; background: #FFFFFF;" />
            @Html.ActionLink(friend.FirstName + " " + friend.LastName, "Details", new { id = friend.Id })
            </div>
    }

    </div>
}


