@model DataLogic.Models.UserSiteModel

@{
    ViewBag.Title = "InspectRequests";
}

<h2>Vänförfrågningar</h2>
<div>


        @foreach (var user in Model.Friends)
    {
        <div class="card front-cards" style="width: 20rem;">
            <img class="card-img-top image-size" src="@Url.Action("Image", "Home", new { id = user.Id} )" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">@user.FirstName @user.LastName</h4>
                @Html.ActionLink("Acceptera", "RequestAccepted", new { id = user.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Avböj", "RequestDeclined", new { id = user.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
}

</div>